@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: 255, 255, 255;
  --layout-component: 0, 0, 20;
}


body {
  color: rgb(var(--font-color));
  background: linear-gradient(to right, #000b14, #041a2f, #364b67);

  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

header, footer {
  background-color: rgb(var(--layout-component));
  font-weight: bold;
}

main {
  font-family: 'Times New Roman', Times, serif;
}



#home {
  position: relative;

  background: linear-gradient(to bottom, transparent, rgba(0, 11, 20, 0.5),rgba(4, 26, 47, 0.5),rgba(54, 75, 103, 0.5)), url("/homeBackground.jpg") no-repeat center center;
  background-size: cover;

  transform: skewY(-2deg); /* Ajustez l'angle selon vos besoins */
  transform-origin: bottom left;
}

.overlaying {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


#profile {
  background-image: url('/profile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about {
  background: linear-gradient(to top, transparent, rgba(0, 11, 20, 0.4),rgba(4, 26, 47, 0.2));

}




.image {
  filter: drop-shadow(0 0 40px rgba(0, 123, 255, 1));
}





#gallery {
  display: flex;
  min-height: 20rem;
  gap: 1rem;

  max-width: 60%;
}

.gal {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, .45, 1.4);

  min-width: 4vw;

  background-color: white;
}

.gal:hover {
  flex: 5;
}




#contactForm {
  width: 400px;
}

@keyframes typewriter {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}

@keyframes blinkCursor {
  0% {
      border-right-color: rgba(255, 255, 255, 0.75);
  }
  50% {
      border-right-color: transparent;
  }
  80% {
      border-right-color: rgba(255, 255, 255, 0.75);
  }
  100% {
      border-right-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgba(255, 255, 255, 0.75); /* Couleur du curseur */
  animation: typewriter 4s steps(40, end) 1s 1 normal both,
              blinkCursor 500ms steps(40, end) 5s both;
  max-width: 100%;
  width: 0; /* Start with 0 width and animate to 100% */
}





@media screen and (max-width: 992px) {

  #contactForm {
    width: 300px;
  }

  #gallery {
    max-height:100px;
  }
}

@media screen and (max-width: 600px) {
  .gal {
    border-radius: 50%;
    height: 40px;
    width: 50px;

    margin: 8px;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (orientation: landscape) {
  header {
    position: relative;
  }
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
